* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.clock {
    font-size: 5rem;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.mode-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
}

.mode-toggle button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    background-color: #000;
    color: #f0f0f0;
}

.mode-toggle button:hover {
    transform: scale(1.05);
}

.light-mode {
    background-color: #f0f0f0;
    color: #000;
}

.light-mode .container {
    background-color: rgba(255, 255, 255, 0.8);
}

.light-mode .clock {
    border-color: #000;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.light-mode .mode-toggle button {
    background-color: #000;
    color: #f0f0f0;
}

.dark-mode {
    background-color: #1c1c1c;
    color: #f0f0f0;
}

.dark-mode .container {
    background-color: rgba(34, 34, 34, 0.8);
}

.dark-mode .clock {
    border-color: #f0f0f0;
    background: linear-gradient(145deg, #333333, #2c2c2c);
    box-shadow: 20px 20px 60px #242424, -20px -20px 60px #3c3c3c;
}

.dark-mode .mode-toggle button {
    background-color: #f0f0f0;
    color: #000;
}
